 
  .order-section {
    margin: 0;
    padding: 0;
    margin-left: 11vw;
    margin-right: 12.13vw;
    margin-top: 6.5625rem;
    box-sizing: border-box;
  }
  .order-section .headingText h2{
    color: #2078BF;
    font-weight: bolder;
    margin: 0;
    font-size: 2.25rem;
    line-height: 1rem;
  }
  .order-section header{
    margin-bottom: 2.9375rem;
    height: 2.8125rem;
  }
  
  .tabcol {
    height: 66vw;
    background-color: #FFFFFF;
    box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
    border-radius:  0.625rem;
  }
  .tabcol .rowheader th {
    margin: 3rem 0rem;
    line-height: 1rem;
    color: #838383;
    font-style: normal;
    /* font-size:1.200vw;  */
    font-weight: bold;
    font-family: Ubuntu;
  }
  .tabcol td {
    /* padding-right: 0vw 4.601vw 0vw 5vw; */
    font-size: 0.875rem;
    text-align: center;

  }
  .tabcol th {
    padding: 3.467vw 0vw 0vw 4vw;
    text-align: none;
  }
  
  .orders {
    margin-top: 5%;
  }
  
 .first-line:after {
    content: "\a";
    white-space:pre;
  }
  
  .tabcol {
    width: 100%;
  }
  
  tbody:before {
    line-height: 0.5rem;
    content: "‌";
    display: block;
  }
  
  tbody {
    line-height: 1rem;
    margin-bottom: 2.4vw;
    text-align: center;
    color: #838383;
    font-size: 0.933vw;
    font-weight: normal;
  }
  .button1{
    width: 11vw;
    font-size: 0.875rem;
    height: 1.8rem !important;
    padding: 0 !important;
  }
  
  .wish {
    /* margin: 1.5rem 0rem 3.562rem 0rem; */
    /* line-height: 1rem; */
    /* text-align: start; */
    color: #838383;
    font-style: normal;
    font-size: 1.125rem !important;
    font-weight: bold;
    /* font-family: Ubuntu; */
  }
  .rowheaderstatus{
    padding:0%;
  }
  .hr-line {
    border: 2px solid #E0E0E0;
    /* padding-top:3.867vw; */
  }
  
  @media (min-width: 0px) and (max-width: 576px) {
    /* .order-section {
      margin:4%;
    } */
    .order-section{
      margin-top: 2.5rem;
    }
    .order-section .headingText h2{
      font-size: 1.5rem;
    }
      .order-section header {
      margin-bottom: 0;
    }
    #mainContent {
      margin-left: 0;
    }
    .rowheaderstatus{
      padding-left:5%;
      margin-left:0.5rem;
    }
  
    .tabcol td {
      font-size: 0.5rem;
    }
  
    .orders {
      margin-top: 8%;
    }
  
    .ordersText h2 {
      text-align: center;
    }
  
    .rowheader {
      font-size: 0.6rem;
    }
    .wish {
      font-size: 0.6rem !important;
    }
    .button1{
      font-size: 0.5rem !important;
      height: 1rem;
      padding: 0 !important;
    }
  }
  @media (min-width: 577px) and (max-width: 768px) {
    /* .order-section {
      margin: 0;
    } */
    .order-section{
      margin-top: 4.5rem;
    }
    .order-section .headingText h2{
      font-size: 2rem;
    }
      .order-section header {
      margin-bottom: 1.5rem;
    }
    .wish {
      font-size: 0.7rem !important;
    }
    
    .order-section .btn {
      font-size: 0.7rem;
      padding: 0%;
    }
    
    .order-section .container {
      margin-top: 3%;
    }
    .order-section th {
      text-align: center;
      padding-left: 0%;
    }
    .order-section td {
      padding: 0;
      font-size: 0.7rem;
    }
    .order-section .rowheader {
      font-size: 0.7rem;
    }
    .order-section .wish {
      font-size: 0.7rem;
    }
  }
  .orderrowheading{
    padding-left: 2rem;
  }
  .rowheaderstatus{
    padding-left: 2rem;
  } .button1{
    /* font-size: 0.6rem !important; */
    /* height: 1.2rem; */
    padding: 0 !important;
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .order-section{
      margin-top: 4.5rem;
    }
    .order-section .headingText h2{
      font-size: 2rem;
    }
      .order-section header {
      margin-bottom: 1.5rem;
    }
    .wish {
      font-size: 0.8rem !important;
    }
  
    .rowheader th {
      font-size: 0.8rem;
    }
  
    .tabcol td {
      font-size: 0.7rem;
    }
    .button1{
      font-size: 0.8rem !important;
      padding: 0 !important;
    }
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    .wish {
      font-size: 0.8rem !important;
    }
    .button1{
      font-size: 0.875rem !important;
      /* height: 1.8rem; */
      padding: 0 !important;
    }
  }
  
  