@font-face {
    font-family: ubuntu;
    src: url("./Fonts/Ubuntu/Ubuntu-Regular.ttf");
  }
body{
    font-family: ubuntu;  
    /* width: 93.75rem; */
    /* overflow-x: hidden; */
    max-width: 93.75rem;
}
.heading{
    background-color: #2078BF;
    height: 7.5rem;
}
.active{
    text-decoration: underline solid white;
}
.nav-item{
    margin-left: 2.93rem;
}
.dropdown-menu{
    padding: 0rem;
    margin: 0rem;
}
.dropdown-item:hover{
    background-color: #2078BF;
}
.buynow{
    border: 0.134rem solid #00C3FF;
    border-radius: 0.3125rem;
    height: 3.75rem;
    width:11.063rem;
    margin-right: 2.625rem;
    margin-left: 2.625rem;
}
.login{
    height: 3.75rem;
    width:11.063rem;
    margin-right: 6.55rem;
}
.di{
    background-color: #2078BF;
}
#navbarSupportedContent{
    padding-top: 1rem;
    padding-right: 1rem;
}
.aboutus{
    background-image: url("./img/Rectangle.png"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 38.75rem;

}
.button-arrow{
    width:7.2225rem;
    margin-right:6.625rem;
    margin-bottom:5.461rem;
}
.arrow-button{
    width:7.2225rem;
    height:4.7381rem;

}
.title{
    width:54.437rem;
    height:5rem;
    line-height: 2.5rem;
    margin-left:13.375rem;
    margin-top:7.6875rem;
    
}
h1{
    font-weight:700;
    font-size: 2.25rem;
     font-size:2.635vw;
    font-size: 2.26rem;
    color:#2078BF;
}
.discription{
    margin-left:13.375rem;
    margin-top:6.562rem;
    width:67.66%;
    margin-right:13.3125rem;
    font-weight:400;
    /* font-size:1.125rem; */
    font-size:112.5%;
    /* font-size:1.3177vw; */
    line-height:2.5rem;
    color: #838383;

}
.discription p{
    margin-bottom:2.125rem;
}
.form{
    margin-left: 13.625rem;
    margin-top:5.687rem;
    width:56.062rem;
}
h2{
    font-weight:400;
    font-size:2.25rem;
    color:#838383;
    line-height:2.812rem;
}
.form p{
    font-size:0.875rem;
    color: #838383;
    line-height:2.812rem;
    font-weight:400;
}
label{
    font-weight:400rem;
    font-size:1.125rem;
    line-height:1rem;
    margin-bottom:1.595rem;
}
.form div{
    display:block;
}
.input-x{
    padding-top:1.246rem ;
    padding-right:0.886trem;
    padding-bottom: 1.01rem ;
    padding-left:1.59rem ;
    margin-bottom: 3.022rem;
}
.comment{
    height:14.5625rem;
    padding-top:1.246rem ;
    padding-right:0.886trem;
    padding-bottom: 1.01rem ;
    padding-left:1.59rem ;
    border-radius: 0.833rem;
    margin-bottom:3.375rem;
}
.sub-btn{
    padding-top:1.182rem;
    padding-bottom:1.182rem;
    padding-right:3.5rem;
    padding-left:3.5rem;
    font-weight:400;
    font-size:1.25rem;
}
.section-c{
    background-color:#2078BF ;
     margin: 0rem;
     margin-top:6.937rem;
     width: 100%;
}

.theroy-z{
    margin-left:12.625rem;
    margin-top:5.812rem;
}
.latestnews{
    font-weight:400 ;
    font-size:1rem;
    margin-bottom: 0%;
}
.newsletter{
    font-weight:400;
    font-size:3rem;
    /* margin:0; */
}
.search{
    margin-top:7.5rem;
}
.theory-h{
    width:16.125rem;
    height:2.1875rem;
    font-size:1.6875rem;
    font-weight:43.75rem;
}
.searchbar{
    height:4.24rem;
    width:45.745rem;
    padding:0rem,0rem !important;
}
.searchbar button{
    background: #06864D;
    padding:0rem,0rem !important;
    height:3.75rem;
    width:10rem;
}
.searchinput{
    height:3.75rem;
    width:22.745rem;
    border-radius: 0.3125rem;
    padding-left:1.6912rem;
}
/* .txt{
    color:#2078BF;
    padding-top: 6.19625rem;
} */
.blog-content{
    background-color: #F5FBFF;
}

.footer {
    background-color:#2078BF;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.img-section{
    background-image: url('./img/Illustration.png');
    /* background-size: fixed; */
    background-blend-mode: lighten;
    background-repeat: no-repeat;
}

.content {
     color: #fff;
     font-size: 1rem;
     font-weight: 400;
     line-height: .8;
}
.head{
    font-size:1.375rem;
    font-weight:400;
}
.footer-2{
    background-color: #2078BF;
    width: 100%;
}
.container{
    padding: 40px;
  }
  .paragraph{
    padding-top: 3.8125rem;
    line-height: 2.18rem;
  }
  .faq{
      padding-left: 9.593rem;
  }
  .privacy{
      padding:0px 35px 0px 10px ;
  }
  li{
    list-style-type: none;
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
    letter-spacing: 0.00625rem;
    padding-bottom: 0.58rem;
  }
  .in-li{
      opacity: 0.8;
  }

  .footer-list{
    gap: 1.66rem;
    padding-left: 0px;
  }
  .chessboard{
    height: 26.513rem;
    width: 29.67rem;
    border-radius:0.625rem;
    position: absolute;
    
    left: 13.205rem;
    margin-top:19.314rem;
}
.bluerectangle{
    width: 22.812rem;
    height: 35.43rem;
    border-radius: 0.3125rem;
    position: relative; 
    left: 8.31%;
    margin-right: 50.937rem;
    top: 14.875rem;
    bottom: 57.42%;
}
.discript {
            color: #838383;
            position: absolute;
            left: 44.875rem;
            right: 12.25rem;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 2.185rem;
            padding-left: 5.687rem;
            padding-top:18.375rem;
        }

.features {
    position: absolute;
    left: 44.919rem;
    right: 25.955rem;
    padding-top: 12.125rem;

    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 4.875rem;
    color: #2078BF;
    padding-left: 7.687rem;

}

.bulletsremove li {
    list-style-type: none;
}

.brochure {
    width: 17.625rem;
    height: 3.75rem;
    margin-top: 1rem;
    right: 23.562rem;
}
.bg{
    background-color: #2078BF;
}
.tbl{
    margin-left: 9.25rem;
    margin-right: 7.3341rem;
    color: white;
    text-transform: capitalize;
}
.col-6{
padding: 0rem;
}
.row-a{
    padding-right: 1.209rem;
}
    
.box-a{
    height: 17.85rem;
    padding: 0px !important;
    padding-right: 1.209rem;

}
.box-b{
    height: 28.6931rem;
    padding: 0px !important;

}
.box-c{
    height: 28.6931rem;
    padding: 0px;
    /* background-image: url('./img/Rectangletbl.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:376px){
    .discription{
        margin-left: 2.75rem;
        margin-right: 2.875rem;
        margin-top: 2.0625rem;
    }
    .title{
        width:13.875rem;
        height: 1.43rem;
        margin-left: 2.75rem;
        margin-top:1.687rem;
    }
    h1{
        font-size: 0.625rem;
        margin: 0%;
        line-height: 0.7181rem;
    }
    .title p{
        /* font-size: 0.375rem; */
        display: none;
    }
    .txt{
        font-size: 0.5rem;
        line-height: 0.8rem;
        /* margin-bottom: 0rem; */
    }
    .aboutus{
        height: 10.625rem;
    }
    .arrow-button{
        width:0.505rem;
        height:0.311rem;
    }
    .button-arrow{
        width:1.556rem;
        margin-right: 2.255rem;
        margin-bottom:1.187rem;
    }
    .heading{
        height: 3.812rem;
    }
    .form{
        margin-left: 2.75rem;
        margin-top:2.312rem;
        width:14.75rem;
    }
    h2{
        font-size: 0.625rem;
        line-height: 0.718rem;
    }
    .form p{
        font-size: 0.5rem;
        line-height: 0.8rem;
    }
    label{
        font-weight:400rem;
        font-size:0.5rem;
        margin-bottom:0.6875rem;
    }
    .input-x{
        padding-top:0.937rem ;
        font-size: 0.5rem;
        /* padding-right:0.886rem; */
        padding-bottom: 1rem ;
        padding-left:0.8125rem ;
        margin-bottom: 1.0625rem;
        line-height: 0.5625px;
    }
    .comment{
        height: 7.937rem;
        font-size: 0.5rem;
        line-height: 0.4375rem;
        margin-bottom: 1.5rem;
    }
    .sub-btn{
        padding-top:0.625rem;
        padding-bottom:0.625rem;
        padding-right:1.7rem;
        padding-left:1.7rem;
        font-weight:400;
        font-size:0.625rem;
    }
    .arrow-img{
        width: 0.505rem;
        height: 0.308rem;
    }
    .theroy-z{
        align-content: center;
        margin: 0%;
    }
} 