.dimesionalpage-form{
.heading-dimension{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    text-align: center !important;
    width: 550px;
    color:  #2078BF;
    margin-top: 3.81rem;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold !important;
    font-size: 25px;
    margin: auto;
}
.dimesional-description{
    position: absolute;
    left: 780px;
    right: 50px;
}
.hint-heading{
    width: 228px;
    height: 24px;
    font-family: Ubuntu;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #838383;
}

.continuebutton{
    border: 0.134rem solid #00C3FF;
    border-radius: 0.3125rem;
    height: 2.75rem;
    width:11.063rem;
    margin: 2rem 2.625rem;
    margin-top:28rem ;
}
}