
#sectionContent{
  margin-left: 4.375rem;
}
.invoiceSection {
    
    margin: 6.56rem 12.13vw 0rem 11vw;
    padding: 0;
    box-sizing: border-box;
  }
  .invoiceSection .headingText h2 {
    color: #2078BF;
    font-weight: bolder;
    margin: 0;
    font-size: 2.25rem;
    line-height: 1rem;
  }
  .invoiceSection header {
    margin-bottom: 2.9375rem;
    height: 2.8125rem;
  }
  .invoiceSection .edit-toggler{
    float: right;
    margin: 0;
  }
  .invoiceSection .edit-toggler svg {
    text-align: end;
  }
  .dropdown .dropdown-menu {
    padding: 0;
    margin: 0;
    border: 1px solid #E0E0E0;
  }
  .dropdown .dropdown-item {
    font-weight: thin;
    margin: 0;
  }
  .dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
  }
  .dropdown .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: "";
  }
  .dropdown .dropdown-item:hover {
    color: #fff;
    background-color: #2078BF;
  }

  .edit-dropdown{
    width:  30px;
    height: 30px;
  }

  
  .invoice-body {
    background-color: #FFFFFF;
    box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
    border-radius: 10px;
    margin: auto;
    padding: auto !important;
  }
  
  .invoice-heading, .head h3 {
    line-height: 1rem;
    margin-left: 4.6vw;
    padding-top: 2.25rem;
    font-weight: bold;
    color: #838383;
    font-size: 1.125rem;
  }
  
  .head h3 {
    margin-top: 1.375rem;
    padding: 0rem;
  }
  .head h3 i {
    font-size: 0.875rem;
    font-weight: normal;
  }
  
  .first-line:after {
    content: "\a";
    white-space: pre;
  }
  
  .hr-line {
    border-bottom: 2px solid #E0E0E0;
    margin-top: 0;
  }
  
  
  .invoice-id {
    line-height: 1rem;
    margin: 0;
    margin-left: 4.6vw;
    padding-bottom: 1rem;
    color: #838383;
    font-size: 0.875rem;
  }
  .invoice-id span{
    float: right;
    padding-right: 3.33vw;
  }
  
  table{
    margin:auto;
    width: 62.06vw;
    height:161px;

  }
  
  .table {

    font-size: 0.8rem;
    
    
  }
  .table table, .table th, .table td {
    border: 1px solid #E0E0E0;
    text-align: center;
  
    color: #838383;
  }
  
  .inv-vr {
    border-left: 2px solid #E0E0E0;
    height: 6.812rem;
    margin: 2rem 0rem 0rem 2.7rem;
    width:3rem;
  }
  
  .inv-bd-lp {
    font-size: 0.875rem;
    color: #838383;
    margin: 2rem 0rem 2.163rem;
  }
  .inv-bd-lp p {
    margin-bottom: 1.365rem;
  }
  @media (max-width: 576px) {
    #sectionContent{
      margin: 0;
    }
    .invoiceSection{
      margin-top: 2.5rem;
    }
    .invoiceSection .headingText h2{
      font-size: 1.5rem;
    }
      .invoiceSection header {
      margin-bottom: 0;
    }
    .edit-dropdown{
      width:  20px;
      height: 20px;
    }
    .dropdown .dropdown-menu:before {
      top: -7px;
      left: 140px;
    }
    .dropdown .dropdown-menu:after {
      top: -6px;
      left: 141px;
    }
    .invoiceSection, .id-no, .invoice-id, .head i, .inv-bd-lp {
      font-size: 0.6rem;
    }
    
  
    .table table, th, td {
      padding: 0.07vw;
      font-size: 0.6rem;
    }
    table{
      height:60px;
    }
    .head span i{
      font-size: 0.6rem;
    }
  
  
    .invoice-heading, .head h3 {
      font-size: 0.7rem;
    }
  
    .dbl, .inv-vr {
      display: none;
    }
  
    .inv-bd-lp {
      margin-right: 1rem;
    }
  }
  
  
  @media (min-width: 577px) and (max-width: 768px) {
    .invoiceSection{
      margin-top: 4.5rem;
    }
    .invoiceSection .headingText h2{
      font-size: 2rem;
    }
      .invoiceSection header {
      margin-bottom: 1.5rem;
    }
    .edit-dropdown{
      width:  25px;
      height: 25px;
    }
    .dropdown .dropdown-menu:before {
      top: -7px;
      left: 140px;
    }
    .dropdown .dropdown-menu:after {
      top: -6px;
      left: 141px;
    }
    .invoiceSection, .id-no, .invoice-id, .head i, .inv-bd-lp {
      font-size: 0.6rem;
    }
  
    .table table, th, td {
     
      padding: 0.1vw;
      font-size: 0.6rem;
      
    }
    table{
      height: 80px;
    }
     
  
    .invoice-heading, .head h3 {
      font-size: 0.803rem;
    }
  
   
  }
  @media (min-width: 769px) and (max-width: 992px) {
    .invoiceSection{
      margin-top: 4.5rem;
    }
    .invoiceSection .headingText h2{
      font-size: 2rem;
    }
      .invoiceSection header {
      margin-bottom: 1.5rem;
    }
    .edit-dropdown{
      width:  25px;
      height: 25px;
    }
    .dropdown .dropdown-menu:before {
      top: -7px;
      left: 140px;
    }
    .dropdown .dropdown-menu:after {
      top: -6px;
      left: 141px;
    }
    .invoiceSection, .id-no, .invoice-id, .head i, .inv-bd-lp {
      font-size: 0.6rem;
    }
  
    .table table, th, td {
      padding: 0.1vw;
      font-size: 0.8rem;
    }
    table{
      height:100px;
    }
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    .table table, th, td {
      padding: 0.1vw;
      font-size: 0.8rem;
    }
  
   
  }
  