.aboutus{
    background-image: url("./img/Rectangle.png"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 38.75rem;

}
.button-arrow{
    width:7.2225rem;
    margin-right:6.625rem;
    margin-bottom:5.461rem;
}
.arrow-button{
    width:7.2225rem;
    height:4.7381rem;

}


.title{
    width:54.437rem;
    height:5rem;
    line-height: 2.5rem;
    margin-left:13.375rem;
    margin-top:7.6875rem;
    
}
h1{
    font-weight:700;
    font-size: 2.25rem;
     font-size:2.635vw;
    font-size: 2.26rem;
    color:#2078BF;
}
.discription{
    margin-left:13.375rem;
    margin-top:6.562rem;
    width:67.66%;
    margin-right:13.3125rem;
    font-weight:400;
    /* font-size:1.125rem; */
    font-size:112.5%;
    /* font-size:1.3177vw; */
    line-height:2.5rem;
    color: #838383;

}
.discription p{
    margin-bottom:2.125rem;
}



.form{
    margin-left: 13.625rem;
    margin-top:5.687rem;
    width:56.062rem;
}
h2{
    font-weight:400;
    font-size:2.25rem;
    color:#838383;
    line-height:2.812rem;
}
.form p{
    font-size:0.875rem;
    color: #838383;
    line-height:2.812rem;
    font-weight:400;
}
label{
    font-weight:400rem;
    font-size:1.125rem;
    line-height:1rem;
    margin-bottom:1.595rem;
}
.form div{
    display:block;
}
.input-x{
    padding-top:1.246rem ;
    padding-right:0.886trem;
    padding-bottom: 1.01rem ;
    padding-left:1.59rem ;
    margin-bottom: 3.022rem;
}
.comment{
    height:14.5625rem;
    padding-top:1.246rem ;
    padding-right:0.886trem;
    padding-bottom: 1.01rem ;
    padding-left:1.59rem ;
    border-radius: 0.833rem;
    margin-bottom:3.375rem;
}
.sub-btn{
    padding-top:1.182rem;
    padding-bottom:1.182rem;
    padding-right:3.5rem;
    padding-left:3.5rem;
    font-weight:400;
    font-size:1.25rem;
}

