#ordersContent{
  margin-left: 4.375rem;
  padding: 0;
}
  .order-section {
    margin: 6.56rem 12.13vw 0rem 11vw;
    padding: 0;
    box-sizing: border-box;
   
  }
  .order-section .headingText h2{
    color: #2078BF;
    font-weight: bolder;
    margin: 0;
    font-size: 2.25rem;
    line-height: 1rem;
  }
  .order-section header{
    margin-bottom: 2.9375rem;
    height: 2.8125rem;
  }
  .order-section .edit-toggler{
    float: right;
    margin: 0;
  }
  .order-section .edit-toggler svg {
    text-align: end;
  }
  .dropdown .dropdown-menu {
    padding: 0;
    margin: 0;
    border: 1px solid #E0E0E0;
  }
  .dropdown .dropdown-item {
    font-weight: thin;
    margin: 0;
  }
  .dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
  }
  .dropdown .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: "";
  }
  .dropdown .dropdown-item:hover {
    color: #fff;
    background-color: #2078BF;
  }

  .edit-dropdown{
    width:  30px;
    height: 30px;
  }

  
  /* .tabcol {
    background-color: #FFFFFF;
    box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
    border-radius:  0.625rem;
  } */
  .orders{
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
    border-radius:  0.625rem;
    padding-bottom: 1rem;
  }
  .tabcol {
    height:35vw;
    /* background-color: #FFFFFF;
    box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
    border-radius:  0.625rem; */
  }
  .tabcol .rowheader th {
    margin: 3rem 0rem;
    line-height: 1rem;
    color: #838383;
    font-style: normal;
    /* font-size:1.200vw;  */
    font-weight: bold;
    font-family: Ubuntu;
  }
  .tabcol td {
    /* padding-right: 0vw 4.601vw 0vw 5vw; */
    font-size: 0.875rem;
    text-align: center;

  }
  .tabcol th {
    padding: 3.467vw 0vw 0vw 4vw;
    text-align: none;
  }
  
  .orders {
    margin-top: 5%;
  }
  
 .first-line:after {
    content: "\a";
    white-space:pre;
  }
  
  .tabcol {
    width: 100%;
  }
  
  tbody:before {
    line-height: 0.5rem;
    content: "‌";
    display: block;
  }
  
  tbody {
    line-height: 1rem;
    margin-bottom: 2.4vw;
    text-align: center;
    color: #838383;
    font-size: 0.933vw;
    font-weight: normal;
  }
  .button1{
    width: 11vw;
    font-size: 0.875rem;
    height: 1.8rem !important;
    padding: 0 !important;
  }
  
  .wish {
    /* margin: 1.5rem 0rem 3.562rem 0rem; */
    /* line-height: 1rem; */
    /* text-align: start; */
    color: #838383;
    font-style: normal;
    font-size: 1.125rem !important;
    font-weight: bold;
    /* font-family: Ubuntu; */
  }
  .rowheaderstatus{
    padding:0%;
  }
  .hr-line {
    border: 2px solid #E0E0E0;
    /* padding-top:3.867vw; */
  }
  
  @media (min-width: 0px) and (max-width: 576px) {
    /* .order-section {
      margin:4%;
    } */
    .order-section{
      margin-top: 2.5rem;
    }
    .order-section .headingText h2{
      font-size: 1.5rem;
    }
      .order-section header {
      margin-bottom: 0;
    }
    .edit-dropdown{
      width:  20px;
      height: 20px;
    }
    .dropdown .dropdown-menu:before {
      top: -7px;
      left: 140px;
    }
    .dropdown .dropdown-menu:after {
      top: -6px;
      left: 141px;
    }
    #ordersContent {
      margin-left: 0;
    }
    .rowheaderstatus{
      padding-left:5%;
      margin-left:0.5rem;
    }
  
    .tabcol td {
      font-size: 0.5rem;
    }
  
    .orders {
      margin-top: 8%;
    }
  
    .ordersText h2 {
      text-align: center;
    }
  
    .rowheader {
      font-size: 0.6rem;
    }
    .wish {
      font-size: 0.6rem !important;
    }
    .button1{
      font-size: 0.5rem !important;
      height: 1rem;
      padding: 0 !important;
    }
  }
  @media (min-width: 577px) and (max-width: 768px) {
    /* .order-section {
      margin: 0;
    } */
    .order-section{
      margin-top: 4.5rem;
    }
    .order-section .headingText h2{
      font-size: 2rem;
    }
      .order-section header {
      margin-bottom: 1.5rem;
    }
    .edit-dropdown{
      width:  25px;
      height: 25px;
    }
    .dropdown .dropdown-menu:before {
      top: -7px;
      left: 140px;
    }
    .dropdown .dropdown-menu:after {
      top: -6px;
      left: 141px;
    }
    .wish {
      font-size: 0.7rem !important;
    }
    
    .order-section .btn {
      font-size: 0.7rem;
      padding: 0%;
    }
    
    .order-section .container {
      margin-top: 3%;
    }
    .order-section th {
      text-align: center;
      padding-left: 0%;
    }
    .order-section td {
      padding: 0;
      font-size: 0.7rem;
    }
    .order-section .rowheader {
      font-size: 0.7rem;
    }
    .order-section .wish {
      font-size: 0.7rem;
    }
  }
  .orderrowheading{
    padding-left: 2rem;
  }
  .rowheaderstatus{
    padding-left: 2rem;
  } .button1{
    /* font-size: 0.6rem !important; */
    /* height: 1.2rem; */
    padding: 0 !important;
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .order-section{
      margin-top: 4.5rem;
    }
    .order-section .headingText h2{
      font-size: 2rem;
    }
      .order-section header {
      margin-bottom: 1.5rem;
    }
    .edit-dropdown{
      width:  25px;
      height: 25px;
    }
    .dropdown .dropdown-menu:before {
      top: -7px;
      left: 140px;
    }
    .dropdown .dropdown-menu:after {
      top: -6px;
      left: 141px;
    }
    .wish {
      font-size: 0.8rem !important;
    }
  
    .rowheader th {
      font-size: 0.8rem;
    }
  
    .tabcol td {
      font-size: 0.7rem;
    }
    .button1{
      font-size: 0.8rem !important;
      padding: 0 !important;
    }
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    .wish {
      font-size: 0.8rem !important;
    }
    .button1{
      font-size: 0.875rem !important;
      /* height: 1.8rem; */
      padding: 0 !important;
    }
  }
  
  