@font-face {
    font-family: ubuntu;
    src: url("./Fonts/Ubuntu/Ubuntu-Regular.ttf");
  }
  .heading{
    background-color: #2078BF;
    height: 7.5rem;
}
body{
    font-family: ubuntu;  
    background-color: #e5e5e5;
    

    /* overflow-x: hidden; */
    max-width: 100%;

}
.active{
    text-decoration: underline solid white;
}
.nav-item{
    margin-left: 2.93rem;
}
.dropdown-menu{
    padding: 0rem;
    margin: 0rem;
}
.dropdown-item:hover{
    background-color: #2078BF;
}
.buynow{
    border: 0.134rem solid #00C3FF;
    border-radius: 0.3125rem;
    height: 3.75rem;
    width:11.063rem;
    margin-right: 2.625rem;
    margin-left: 2.625rem;
}
.login{
    height: 3.75rem;
    width:11.063rem;
    margin-right: 6.55rem;
}
.di{
    background-color: #2078BF;
}
#navbarSupportedContent{
    padding-top: 1rem;
    padding-right: 1rem;
}
.section1{
    background-color: #003966;
    margin:0;
    padding-right:9.606rem;
    padding-top:12.75rem;
    height:53.75rem;
}
.theory-x{
    padding-left:8.37rem;
    margin:0rem;
}
.theorya{
    font-size:3.5rem;
    font-weight: 43.75rem;
    width:38.56rem;
    height:14.625rem;
    /*padding-bottom:2.6875rem;*/
}
.theoryb{
    font-size:1.25rem;
    font-weight:25rem;
    margin-top: 2.6875rem;
    padding-top:2.6875rem;
}
.text{
    margin-bottom: 0rem;
}
.buynow2{
    border: 0.134rem solid white;
    border-radius: 0.3125rem;
    margin-left: 1.625rem;
    height: 3.75rem;
    width:11.063rem;
}
.learnmore{
    height: 3.75rem;
    width:11.063rem;
    background-color: #06864D;
}
.buttons{
    margin-top: 3.6875rem;
}
.checkboard{
     width:31rem;
     height:26.375rem;
     margin-top: 2rem;
}
@font-face {
    font-family: ubuntu-light;
    src: url("./Fonts/Ubuntu/Ubuntu-Light.ttf");
}

.head{
    background-color: #e5e5e5;
}
.section-b{
    background-color: #2078BF;
    width:47.0856rem;
    height:48.841rem;
    margin-top:6.25rem;
    margin-left: 5.606rem;
    border-radius: 0.625rem;
    margin-bottom:6.875rem;

}
.theory-y{
    padding-left:4.937rem;
    margin:0rem;
    padding-top:6.0293rem;
}
.theory-c{
    width:41rem;
    height:11rem;
    font-weight: 43.75rem;
    font-size:2.25rem;
    margin-bottom:3rem;
}
.theory-d{
    width:31.05rem;
    height:6.56rem;
    font-size:1.125rem;
    font-weight:25rem;
    margin-bottom:2.25rem;
}
.theroy-e{
    width:29.687rem;
    height:10.375rem;
    font-weight: 43.75rem;
    font-size:1.125rem;
    margin-bottom:15.8125rem;
    
}
.learnmore-b{
    height: 3.75rem;
    width:11.063rem;
    background-color: #06864D;
    margin-top:3.8125rem;
}
.checkboard-b{
    width:42.36rem;
    height:36rem;
    margin-top:12.5rem;
    margin-bottom:12.5rem ;
    padding-right:6.436rem;
    position: absolute;
    left:44rem;
}
.section-c{
    height:22.847rem;
    background-color:#2078BF ;
    margin: 0rem;
    padding: 0;
}
.theroy-z{
    margin-left:12.625rem;
}
.theory-f{
    width:33.81rem;
    height:6.75rem;
    font-size:2.25rem;
    font-weight: 43.75rem;
    margin-top:4.5625rem;
}
.theory-g{
    width:32.81rem;
    height:6.3125rem;
    font-size:1.125rem;
    font-weight: 25rem;
    padding-top:1.875rem;
}
.search{
    margin-top:7.5rem;
}
.theory-h{
    width:16.125rem;
    height:2.1875rem;
    font-size:1.6875rem;
    font-weight:43.75rem;
}
.searchbar{
    height:4.24rem;
    width:22.745rem;
    padding:0rem,0rem !important;
}
.searchbar button{
    background: #06864D;
    padding:0rem,0rem !important;
    height:4.24rem;
    width:6.759rem;
}
.searchinput{
    height:4.24rem;
    width:22.745rem;
    border-radius: 0.3125rem;
}
.bg-part{
    background-color: #e5e5e5;
}
.description{
    color: #838383;
    position: absolute;
    left: 44.875rem;
    right: 13.125rem;
    top: 163.25rem;

    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 2.185rem;
    padding-left: 2.5rem;
}
.about-head{
    position: absolute;
    left: 44.919rem;
    right: 25.955rem;
    top: 157.062rem;

    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 4.875rem;
    color: #2078BF;
    padding-left: 2.5rem;
}
 .logo p{
    color: #838383;
    font-size: 0.634rem;
 }
.chessboard{
    height: 42.915rem;
    width: 29.663rem;
    border-radius:0.625rem;
    position: absolute;
    
    left: 7.794rem;
    right: 56.291rem;
    top: 162.875rem;
}
.bluerectangle{
    width: 29.663rem;
    height: 33.35rem;
    border-radius: 0.3125rem;
    position: relative; 
    /*z-index: -1;*/
    
    left: 8.31%;
    right: 60.04%;
    top: 33.7%;
    bottom: 57.42%;
}
.logo div{
    width: 3.424rem;
    height: 3.622rem;
    padding-right: 6.25rem;
    padding-top:5.93rem;
}
.logo{
    top: 178.55rem;
    position: absolute;
    flex-wrap:wrap;
    left:47.9656rem;
    margin-right:5.625rem ;
}

.logo p{
    font-size: 0.62rem;
    text-align: center;
}
.logo-button{
    position: absolute;
    left: 47.981rem;
    right: 38.893rem;
    top: 195.937rem;
    bottom: 280.75rem;
    padding-top:5rem;
}
.logo-shift{
    padding-right:6.25rem ;
}
.button-discover{
    width:11.06rem;
}
/* team-2-css */
.head-part{
    font-weight:bold ;
    font-size: 2.25rem;
    line-height: 4.875rem;
    width :14.43rem;
    height :2.5rem;
    margin-left:11.66rem;
    color:#2078BF;
    top:4454px;
    left:186.71px;  
}
 .part-c{
    padding-top: 10.062rem;
 }
.Be-a-partner{
    margin-top :4.07rem;
    margin-left:11.67rem;
    display: flex;
}
.Be-a-partner-image{
    width:33.75rem;
    height: 33.75rem;
    top: 222.453rem;
    left: 11.677rem;
    right: 48.322rem;
    
}
.agent-checkbox{
    
    display:inline;
    padding-right :3.58rem;
    
}
.butcherry-checkbox{
    
    display:inline;

} 
.become{
    color :#2078BF;
    width:16.78rem;
    height: 3.75rem;
    font-size:1.5rem;
    line-height: 4.87rem;
    font-weight :43.75rem;
    margin-top:3.16rem;
    

}
.partner{
    width:32.56rem;
    height: 6.06rem;
    font-weight: 43.75rem;
    font-size:1.125rem;
    line-height: 2.18rem;
    color : #838383;


}
.discover{
    width:11.062rem;
    height:3.75rem;
    background-color:#06864d;
    margin-top:2.187rem;
    color:white;
    border-radius: 0.312rem;

}
.landingpage-video{
    margin-top:6.625rem;
    max-width:100%;
    height: 27.3437rem;
    background-color: #2078BF;
    opacity: 69.67%;
}
.play-button{
    padding: 10.5rem 0rem;
    display: block;
    margin:auto;
}
.section-d{
    height:62.125rem;
}
.bcolor{
    background-color: #e5e5e5;
}
h1{
    color:#2078bf;
    padding-left:8.625rem;
    font-size:2.25rem;
    padding-top:6.093rem;
    font-weight:43.75rem;
}

.sub-title{
    color:#2078bf;
    padding-left:8.625rem;
    font-size:2.25rem;
    padding-top:6.093rem;
    font-weight:bold;
}

 .card-heading{
    font-size:1.125rem;
    font-weight : 700;
    color:#2078bf;
    line-height:2rem;
    padding:0;
    margin:0;
    width:100%
}
.card-content{
    font-size:0.875rem;
    font-weight:400;
    line-height:1.15rem;
    color:#838383;
    padding:0.3125rem;
    margin:0;
    width:100%;

}
.card-img-top{
    width:100%;
    height:10.1875rem;
  }

/* .row-cols-md-4{
    padding-top:4.812rem;
    padding-left:8.737rem;
    padding-right: 6.824rem;
    
    margin-bottom:9.0675rem;
} */
.row-cols-lg-4{
    padding-top:4.812rem;
    padding-left:8.737rem;
    padding-right: 6.824rem;
    

}
.card{
     height: auto;
     margin-right: 1.4375rem;
      
}
.cards{
    margin-bottom: 9.0675rem;
      
}

