.butchery-dialog{
    margin-top: 15.875rem !important;
}
.model-body{
    border-radius: 0.9rem;
    border: 0%;
}
.heading-butchery{
    color:#2078BF;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;;
    line-height: 2.5625rem;
    letter-spacing: -1.6px;
    margin-top:2.5rem;
}
.Abttoir-butchery{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
     line-height: 2,187rem;
    letter-spacing: -1px;
     color: #838383;
     padding-top:1.187rem;

}
.btn-butchery{
    Width :12.25rem;
    height:3.125rem;
    background-color:#06864D;
    margin-top:2.254rem;
    margin-bottom: 3.870625rem;
}