.ordercreation-container{
.buy_button {
    background-color: #2078BF;
    margin-right: 2.8%;
}
 .popupheading{
        color: #2078BF;
        width: 555px;
        height: 24px;
        left: 472px;
        top: 254px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        margin-left: 17rem;
        margin-top: 5rem;
    }
    .form-paragraph{
        color: #2078BF;
        width: 251px;
        height: 24px;
        left: 624px;
        top: 308px;
        font-family: Ubuntu; 
        font-style: normal; 
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        margin-left: 26rem;
        margin-top: 1rem;
        margin-bottom: 7rem;
    }
   .cart-icon{
       position: absolute;
       left:89%;
       
   }
   .viewall-icon{
    position: absolute;
    left:85%;
    top:30%;
   }
   .productype-dropdown{
       margin-left: 60px !important;
   }

   //3d representation page css
   .heading-page{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color:#2078BF;
    position: absolute;
    width: 700px;
    left: 484px;
}
.head-2{
    position: absolute;
    width: 228px;
    height: 24px;
    left: 1150.01px;
    top: 200.43px;
    font-family: Ubuntu;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #838383;
}
.description{
    position: absolute;
    width: 237.11px;
    height: 48px;
    left: 1150.01px;
    top: 250.43px; 
    font-family: Ubuntu;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #838383;
}

.continuebutton{
    border: 0.134rem solid #00C3FF;
    border-radius: 0.3125rem;
    height: 2.75rem;
    width:11.063rem;
    margin: 2rem 2.625rem;
    margin-top:10rem ;
    text-align: center;
    margin-left: 40%;
}
}