@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.popUp {
  display: flex;
  width: 62.27vw;
  background-color: #fff;
  border-radius: 0.3125rem;
  font-family: "Ubuntu", sans-serif;
  margin: auto;
}

.popUpContent {
  margin: auto;
}

h3 {
  color: #2078bf;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  margin-top: 4.5rem !important;
}

article {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #2078bf;
  margin-top: 1.875rem;
}

p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: gray;
}

.dropdown {
  margin-top: 3.375rem;
  margin-bottom: 3.375rem;
}

/* .dropdown .dropdown-menu {
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 22.86vw;
  max-height: 166px;
  overflow-y: scroll;
  border: 1px solid #e0e0e0;
} */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #2078bf;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #2078bf;
}

.dropdown .dropdownToggle {
  margin: auto;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  border-radius: 5px;
  width: 22.86vw;
  color: #838383;
  text-align: start;
}

.dropdown .dropdownItem {
  font-weight: thin;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.006rem;
  color: #838383;
  padding: 0.53125rem;
}

.dropdown .dropdownItem:hover {
  color: #fff;
  background-color: #2078bf;
}

.btn-cnt {
  margin-bottom: 2.5rem;
  width: 12.25rem;
  height: 3.125rem;
}

.btn-cnt,
.btn-add {
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 1.5rem;
  background: #06864d;
  border: none;
  border-radius: 5px;
}

.addLocation {
  margin-right: 1rem;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.btn-add,
.addLocation {
  height: 40px;
  font-size: 1rem;
}
