
#sectionContent{
  margin-left: 4.375rem;
}
.trackOrderSection {
    
    margin: 6.56rem 12.13vw 0rem 11vw;
    padding: 0;
    box-sizing: border-box;
  }
 .trackOrderSection .headingText h2{
    color: #2078BF;
    font-weight: bolder;
    margin: 0;
    font-size: 2.25rem;
    line-height: 1rem;
  }
  .trackOrderSection header{
    margin-bottom: 2.9375rem;
    height: 2.8125rem;
  }
  .trackOrderSection .edit-toggler{
    float: right;
    margin: 0;
  }
  .trackOrderSection .edit-toggler svg {
    text-align: end;
  }
  
  .dropdown .dropdown-menu {
    padding: 0;
    margin: 0;
    border: 1px solid #E0E0E0;
  }
  .dropdown .dropdown-item {
    font-weight: thin;
    margin: 0;
  }
  .dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
  }
  .dropdown .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: "";
  }
  .dropdown .dropdown-item:hover {
    color: #fff;
    background-color: #2078BF;
  }

  .edit-dropdown{
    width:  30px;
    height: 30px;
  }
.track h3 {
  padding: 5vh 6vw 3vh 1vw;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.813em;
  color: #2078BF;
  margin: 0;
}
.track p {
  padding: 0vh 0vw 0vh 1vw;
  color: #838383;
  font-size: 0.875rem;
  line-height: 2.187rem;
}
.livestock{
  padding:0;
}
.livestock h3 {
  padding: 10vh 3vw 5vh 1vw;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 2.188rem;
  color: #2078BF;
}
.livestock input {
  color: #D7D7D7;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  font-size: 0.875rem;
  border-radius: 0.313rem 0 0 0.313rem;
}
.livestock .btn-trackSearch svg {
  color: #06864d;
  border-radius: 0.0625rem solid #FFFFFF;
  background-color: #06864d;
}
.btn-trackSearch{
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.track {
  background: #FFFFFF;
  box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
  border-radius: 0.625rem;
  box-sizing: border-box;
  
}
#rack{
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 2.875rem;
}
.search{
    margin-bottom: 5vh;
}
.search_input{
  margin-left: 1rem;
}

@media (max-width: 576px) {
    #sectionContent{
      margin: 0;
    }
    .trackOrderSection{
      margin-top: 2.5rem;
    }
    .trackOrderSection .headingText h2{
      font-size: 1.5rem;
    }
      .trackOrderSection header {
      margin-bottom: 0;
    }
    .track p{
       text-align:justify;
       line-height: 1.3rem;
        font-size: 0.8rem !important;
    }
    .track h3, .livestock h3 {
      font-size: 0.8rem !important;
      padding:0 !important;
      margin:auto;
    }
    .track h3{
      margin-top: 1.5rem;
    }
    #rack{
      padding-bottom: 1.5rem;
    }
    .search{
      margin-bottom: 0.5rem;
  }
    .livestock input{
      margin-left: 2rem;
      height: 35px;
      font-size: 0.6rem;
    }
    .btn-trackSearch{
      height: 35px;
    }
  }
  
  
  @media (min-width: 577px) and (max-width: 768px) {
    .trackOrderSection{
      margin-top: 4.5rem;
    }
    .trackOrderSection .headingText h2{
      font-size: 2rem;
    }
      .trackOrderSection header {
      margin-bottom: 1.5rem;
    }
    .trackOrderSection {
      font-size: 0.6rem;
    }
    .search_input{
      margin-left: 2rem;
    }
   
  }
  @media (min-width: 769px) and (max-width: 992px) {
    .trackOrderSection{
      margin-top: 4.5rem;
    }
    .trackOrderSection .headingText h2{
      font-size: 2rem;
    }
      .trackOrderSection header {
      margin-bottom: 1.5rem;
    }
    .trackOrderSection  {
      font-size: 0.6rem;
    }
  }
