#mainContent{
  background-color: #F5FBFF;
}

.quicklinks {
    margin: 0;
    padding: 0;
    margin-left: 11vw;
    margin-right: 12.13vw;
    margin-top: 6.5625rem;
    box-sizing: border-box;
  }
  .quicklinks .headingText h2{
    color: #2078BF;
    font-weight: bolder;
    margin: 0;
    font-size: 2.25rem;
    line-height: 1rem;
  }
  .quicklinks header{
    margin-bottom: 2.9375rem;
    height: 2.8125rem;
  }
  .quicklinks .edit-toggler{
    float: right;
    margin: 0;
  }
  .quicklinks .edit-toggler svg {
    text-align: end;
  }
  
  .quicklinks {
    margin-top: 6.125rem;
  }
  .quicklinks .quicklinksCards {
    box-sizing: border-box;
  }
  .quicklinks .quicklinksCards .card {
    width: 13.563rem;
    height: 12rem;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
    border-color: #fff;
    border-radius: 0.624rem;
  }
  .quicklinks .quicklinksCards .card img {
    width: 4.908rem;
    height: 4.971rem;
    margin: auto;
    margin-top: 2.188rem;
  }
  .quicklinks .quicklinksCards .card .card-title {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.313rem;
    letter-spacing: 0.025rem;
    color: #838383;
  }
  .quicklinks .quicklinksCards .card .card:hover {
    background: #2078BF;
  }

  
.dropdown .dropdown-menu {
    padding: 0;
    margin: 0;
    border: 1px solid #E0E0E0;
  }
  .dropdown .dropdown-item {
    font-weight: thin;
    margin: 0;
  }
  .dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
  }
  .dropdown .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: "";
  }
  .dropdown .dropdown-item:hover {
    color: #fff;
    background-color: #2078BF;
  }

  .edit-dropdown{
    width:  30px;
    height: 30px;
  }


  @media (max-width: 576px) {
    .quicklinks{
      margin-top: 2.5rem;
    }
    .quicklinks .headingText h2{
      font-size: 1.5rem;
    }
    .quicklinks header {
      margin-bottom: 0;
    }
    .edit-dropdown{
      width:  20px;
      height: 20px;
    }
    .quicklinks .quicklinksCards .card {
      width: 8rem;
      height: 8rem;
      margin-bottom: 2rem;
    }
    .quicklinks .quicklinksCards .card img {
      width: 3rem;
      height: 3rem;
      margin-top: 1.4rem;
    }
    .quicklinks .quicklinksCards .card .card-title {
      font-size: 0.8rem;
    }
    .dropdown .dropdown-menu:before {
      top: -7px;
      left: 140px;
    }
    .dropdown .dropdown-menu:after {
      top: -6px;
      left: 141px;
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .quicklinks{
      margin-top: 4.5rem;
    }
    .quicklinks .headingText h2{
      font-size: 2rem;
      font-weight: bold;
    }
    .quicklinks header {
      margin-bottom: 1.5rem;
    }
    .edit-dropdown{
      width:  25px;
      height: 25px;
    }
    .quicklinks .quicklinksCards .card {
      width: 10rem;
      height: 10rem;
      margin-bottom: 2rem;
    }
    .quicklinks .quicklinksCards .card img {
      width: 3.5rem;
      height: 3.5rem;
      /* margin: auto; */
      margin-top: 1.4rem;
    }
    .quicklinks .quicklinksCards .card .card-title {
      font-size: 1rem;
    }
    .dropdown .dropdown-menu:before {
      top: -7px;
      left: 140px;
    }
    .dropdown .dropdown-menu:after {
      top: -6px;
      left: 141px;
    }
  }
  @media (min-width: 769px) and (max-width: 992px) {
    .quicklinks{
      margin-top: 4.5rem;
    }
    .quicklinks .headingText h2{
      font-size: 2rem;
      font-weight: bold;
    }
    .quicklinks header {
      margin-bottom: 1.5rem;
    }
    .edit-dropdown{
      width:  25px;
      height: 25px;
    }
    .quicklinks .quicklinksCards .card {
      width: 8.4rem;
      height: 9rem;
      margin-bottom: 1.5rem;
    }
    .quicklinks .quicklinksCards .card img {
      width: 3.5rem;
      height: 3.5rem;
      /* margin: auto; */
      margin-top: 2rem;
    }
    .quicklinks .quicklinksCards .card .card-title {
      font-size: 1rem;
    }
    .dropdown .dropdown-menu:before {
      top: -7px;
      left: 140px;
    }
    .dropdown .dropdown-menu:after {
      top: -6px;
      left: 141px;
    }
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    .quicklinks .quicklinksCards .card {
      width: 11rem;
      height: 10rem;
      margin-bottom: 1.5rem;
    }
    .quicklinks .quicklinksCards .card img {
      width: 4.5rem;
      height: 4.5rem;
      margin-top: 2rem;
    }
    .quicklinks .quicklinksCards .card .card-title {
      font-size: 1rem;
    }
  }
  