.dialog {
  width: 840px !important;
}
@media (min-width: 576px) {
  .dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
  }
}
.pop_up_heading {
  color: #2078bf;
  margin-top: 2.5rem;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold !important;
  font-size: 2.25rem;
  line-height: 4.875rem;
  letter-spacing: -1.6px;
}
/* .heading p{
    margin-bottom: 0%;
} */
/* .col-form-label{
    margin-left: 13%;
} */
.paragraph,
.livestock247 {
  width: 34.56rem;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: center;
  margin: auto;
  color: #838383;
}
.be_a_agent {
  color: #2078bf;
  font-weight: 400;
  line-height: 35px;
  font-size: 1.125rem;
  width: 14.875rem;
  margin: auto;
}
.form_button {
  border: 0.134rem solid #00c3ff;
  border-radius: 0.3125rem;
  height: 3.125rem;
  width: 12.25rem;
  margin-right: 2.625rem;
  margin-left: 2.625rem;
  margin-bottom: 4.875rem;
}
.livestock247 {
  list-style-type: none;
  padding: 0rem !important;
}
