#sectionContent{
  margin-left: 4.375rem;
}
  .statSection {
    margin: 0;
    padding: 0;
    margin-left: 11vw;
    margin-right: 12.13vw;
    margin-top: 6.5625rem;
    box-sizing: border-box;
  }
  .statSection .headingText h2{
    color: #2078BF;
    font-weight: bolder;
    margin: 0;
    font-size: 2.25rem;
    line-height: 1rem;
  }
  .statSection header{
    margin-bottom: 2.9375rem;
    height: 2.8125rem;
  }
  .statSection .edit-toggler{
    float: right;
    margin: 0;
  }
  .statSection .edit-toggler svg {
    text-align: end;
  }
   
.dropdown .dropdown-menu {
    padding: 0;
    margin: 0;
    border: 1px solid #E0E0E0;
  }
  .dropdown .dropdown-item {
    font-weight: thin;
    margin: 0;
  }
  .dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
  }
  .dropdown .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: "";
  }
  .dropdown .dropdown-item:hover {
    color: #fff;
    background-color: #2078BF;
  }

  .edit-dropdown{
    width:  30px;
    height: 30px;
  }
.stat p {
  margin-top: 8vh;
  margin-bottom: 2vh;
  padding: 0vh 0vw 0vh 1vw;
  color: #838383;
  font-size: 1.125rem;
  line-height: 2.187rem;
}
.stat {
  background: #FFFFFF;
  border-radius: 0.625rem;
  box-sizing: border-box;
  margin-bottom: 3rem;
  box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
 
}
img{
    margin-bottom: 10vh;
    width: 100%;
}
@media (max-width: 576px) {
   
  #sectionContent{
    margin: 0;
  }
  .statSection{
    margin-top: 2.5rem;
  }
  .statSection .headingText h2{
    font-size: 1.5rem;
  }
    .statSection header {
    margin-bottom: 0;
  }
img{
    margin-bottom: 3vh;
}
.stat p {
  margin-top: 3vh;
  margin-bottom: 3vh;
  color: #838383;
  font-size: 1rem; 
}
.stat{
  margin-top: 1rem !important;
}
}

  @media (min-width: 577px) and (max-width: 768px) {
    .statSection{
      margin-top: 4.5rem;
    }
    .statSection .headingText h2{
      font-size: 2rem;
    }
      .statSection header {
      margin-bottom: 1.5rem;
    }
    .statSection {
      font-size: 0.6rem;
    }
   
  }
  @media (min-width: 769px) and (max-width: 992px) {
    .statSection{
      margin-top: 4.5rem;
       font-size: 0.6rem;
    }
    .statSection .headingText h2{
      font-size: 2rem;
    }
      .statSection header {
      margin-bottom: 1.5rem;
    }
  }
