.deliverydetailspage{
.popupheading{
    color:  #2078BF;
    margin-top: 3.81rem;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold !important;
    font-size: 25px;
    line-height: 4.875rem;
    letter-spacing: -1.6px;
}
.popupheading p{
    margin-bottom: 0%;
}
.form-control,.form-select{
    width: 48.5% !important;
    height:5.09%;
    margin: auto !important;
    padding: 1.5% !important;
    /* padding-bottom: 1%; */
}
.err{
    margin-left: 26%;
}
.col-form-label{
    margin-left: 26%;
    color: #838383;
    padding-bottom: 1px;
}
// ::placeholder,select{
//     // color: #dcdcdc !important;
// }
.form-paragraph{
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
    // width: 39.4%;
    // margin: auto !important;
    color: #2078BF;
}
.continuebutton{
    border: 0.134rem solid #00C3FF;
    border-radius: 0.3125rem;
    height: 2.75rem;
    width:11.063rem;
    margin: 2rem 2.625rem;
    margin-top: 1rem!important;
}
.form-image{
    position: relative;
    width:1rem;
    height:1rem;
    top: 2.5rem;
    left: 70%;
}
}