
.login-btn{
    width: 12.12rem;
    height: 3.625rem;
    color: #ffffff!important;
    border-radius: 5px;
    margin-top: 2rem;
    border: 2px solid #00c3ff;
    background-color: #06864D!important;
    border: none;
    align-items: center;
    }


.login-modal-container {
    width: 600px;
    // height: 50px;
    transform: 'translate(-50%, -50%)';
    border: '2px solid #000';
    background-color: #ffffff;
    overflow-y: scroll;
    margin: 100px auto;
  }

.login-window{
    margin: 30px auto;
    width: 400px;
    // height: 61px;
    .modal-title{
        color: #2078bf;
    }
    .user-icon{
        position: absolute;
        right: 1.8rem;
        top: 2.9rem;
    }
    h4{
        font-weight: 700;
    }
    label{
        color: #838383;
    }
    input::placeholder{
        color:#dcdcdc
    }
    form {
        .login{
            height: 3.125rem; 
    }
    input{
        height: 50px;
    }
    a{
        text-decoration: none;
        color: #333333;
    }
    }
    .link:hover{
        color: #2078bf!important;
        cursor: pointer;
    }
    .field-error{
        border: 2px solid red;
    }
    
}