@font-face {
    font-family: ubuntu;
    src: url("./Fonts/Ubuntu/Ubuntu-Regular.ttf");
  }
  .heading{
    background-color: #2078BF;
    height: 7.5rem;
}
body{
    font-family: ubuntu;
    max-width: 93.75rem;
    background-color: #f5fbff;
    /* overflow-x: hidden; */
    /* overflow-x: hidden; */
    /* max-max-width: 93.75rem; */

}
.active{
    text-decoration: underline solid white;
}
.nav-item{
    margin-left: 2.93rem;
}
.dropdown-menu{
    padding: 0rem;
    margin: 0rem;
}
.dropdown-item:hover{
    background-color: #2078BF;
}
.buynow{
    border: 0.134rem solid #00C3FF;
    border-radius: 0.3125rem;
    height: 3.75rem;
    max-width:11.063rem;
    margin-right: 2.625rem;
    margin-left: 2.625rem;
}
.login{
    height: 3.75rem;
    max-width:11.063rem;
    margin-right: 6.55rem;
}
.di{
    background-color: #2078BF;
}
#navbarSupportedContent{
    padding-top: 1rem;
    padding-right: 1rem;
}
.section1{
    background-color: #003966;
    margin:0;
    padding-right:9.606rem;
    padding-top:12.75rem;
    height:53.75rem;
}
.theory-x{
    padding-left:8.37rem;
    margin:0rem;
}
.theorya{
    font-size:3.5rem;
    font-weight: 43.75rem;
    max-width:38.56rem;
    height:14.625rem;
    /*padding-bottom:2.6875rem;*/
}
.theoryb{
    font-size:1.25rem;
    font-weight:25rem;
    margin-top: 2.6875rem;
    padding-top:2.6875rem;
}
.text{
    margin-bottom: 0rem;
}
.buynow2{
    border: 0.134rem solid white;
    border-radius: 0.3125rem;
    margin-left: 1.625rem;
    height: 3.75rem;
    max-width:11.063rem;
}
.learnmore{
    height: 3.75rem;
    max-width:11.063rem;
    background-color: #06864D;
}
.buttons{
    margin-top: 3.6875rem;
}
.checkboard{
     max-width:31rem;
     height:26.375rem;
     margin-top: 2rem;
}

.section-b{
    background-color: #2078BF;
    max-width:47.0856rem;
    height:48.841rem;
    margin-top:6.25rem;
    margin-left: 5.606rem;
    border-radius: 0.625rem;
    margin-bottom:6.875rem;

}
.theory-y{
    padding-left:4.937rem;
    margin:0rem;
    padding-top:6.0293rem;
}
.theory-c{
    max-width:41rem;
    height:11rem;
    font-weight: 43.75rem;
    font-size:2.25rem;
    margin-bottom:3rem;
}
.theory-d{
    max-width:31.05rem;
    height:6.56rem;
    font-size:1.125rem;
    font-weight:25rem;
    margin-bottom:2.25rem;
}
.theroy-e{
    max-width:29.687rem;
    height:10.375rem;
    font-weight: 43.75rem;
    font-size:1.125rem;
    margin-bottom:15.8125rem;
    
}
.learnmore-b{
    height: 3.75rem;
    max-width:11.063rem;
    background-color: #06864D;
    margin-top:3.8125rem;
}
.checkboard-b{
    max-width:42.36rem;
    height:36rem;
    margin-top:12.5rem;
    margin-bottom:12.5rem ;
    padding-right:6.436rem;
    position: absolute;
    left:44rem;
}
.section-c{
    height:22.847rem;
    background-color:#2078BF ;
    margin: 0rem;
    padding: 0;
}
.theroy-z{
    margin-left:12.625rem;
}
.theory-f{
    max-width:33.81rem;
    height:6.75rem;
    font-size:2.25rem;
    font-weight: 43.75rem;
    margin-top:4.5625rem;
}
.theory-g{
    max-width:32.81rem;
    height:6.3125rem;
    font-size:1.125rem;
    font-weight: 25rem;
    padding-top:1.875rem;
}
.search{
    margin-top:7.5rem;
}
.theory-h{
    max-width:16.125rem;
    height:2.1875rem;
    font-size:1.6875rem;
    font-weight:43.75rem;
}
.searchbar{
    height:4.24rem;
    max-width:22.745rem;
    padding:0rem,0rem !important;
}
.searchbar button{
    background: #06864D;
    padding:0rem,0rem !important;
    height:4.24rem;
    max-width:6.759rem;
}
.searchinput{
    height:4.24rem;
    max-width:22.745rem;
    border-radius: 0.3125rem;
}
.about-us-bluerectangle{
    padding-left: 12.37rem;
    padding-top: 8.25rem;
}
.about-us-bluerectangle .chessboard{
    padding-top: 7.65rem;
    padding-left: 7.79rem;
}
.about-us article{
    
    padding-top: 10.09rem;
    margin-left: 4.88rem;
    max-width: 33.68rem;
    
}
.about-us h2{
    color: #2078BF;
    font-weight: 700;
    padding-left: 2rem;

}
.description{
    color: #838383;
    font-size: 1.12rem;
    list-style-type: none;
    font-size: 1.125rem;
    line-height:169.23%;
    /* padding-left: 1rem; */
    
}
.about-us .description .top-part{
    padding-top: 3.56rem;
    list-style-type: none;
}
.about-us .description .bottom-part{
    padding-top: 1.7rem;
    list-style-type: none;
}
.about-us-menu{
    padding: 2.93rem 0 0 1rem;
}
.about-us-menu figure{
    font-size: 0.7rem;
    width: 6rem;
    color: #838383;
    text-align: center;
}
.about-us .btn{
    width: 11.06rem;
    height: 3.75rem;
    font-size: 1.375rem;
    margin-left: 2rem;
    margin-top: 3.58rem; 
}
.logo-shift{
    padding-right:6.25rem ;
}
.button-discover{
    max-width:11.06rem;
}
.head-part{
    font-weight:43.75rem ;
    font-size: 2.25rem;
    line-height: 4.875rem;
    max-width :14.43rem;
    height :2.5rem;
    margin-left:11.66rem;
    color:#2078BF;
    top:4454px;
    left:186.71px;  
}





.part-c{
    padding-top: 10.062rem;
}
.Be-a-partner{
    margin-top :4.07rem;
    margin-left:11.67rem;
    display: flex;
}
.Be-a-partner-image{
    max-width:33.75rem;
    height: 33.75em;
    top: 222.453rem;
    left: 11.677rem;
    right: 48.322rem;
    
}
.agent-checkbox{
    
    display:inline;
    padding-right :3.58rem;
    
}
.butcherry-checkbox{
    
    display:inline;

}
.become{
    color :#2078BF;
    max-width:16.78rem;
    height: 3.75rem;
    font-size:1.5rem;
    line-height: 4.87rem;
    font-weight :43.75rem;
    margin-top:3.16rem;
    

}
.partner{
    max-width:32.56rem;
    height: 6.06rem;
    font-weight: 43.75rem;
    font-size:1.125rem;
    line-height: 2.18rem;
    color : #838383;


}
.discover{
    max-width:11.062rem;
    height:3.75rem;
    background-color:#06864d;
    margin-top:2.187rem;
    color:white;
    border-radius: 0.312rem;

}
.landingpage-video{
    margin-top:6.625rem;
    max-width:93.75rem;
    height: 27.3437rem;
    background-color: #2078BF;
    opacity: 69.67%;
}
.play-button{
    padding: 10.5rem 43.687rem;
}
.section-d{
    height:62.125rem;
}
.bcolor{
    background-color: #e5e5e5;
}

h1{
    color:#2078bf;
    padding-left:8.625rem;
    font-size:2.25rem;
    padding-top:6.093rem;
    font-weight:43.75rem;
}
.theory-j{
    font-size:1.125rem;
    font-weight:43.75rem;
    color:#2078bf;
    line-height:2rem;
    padding:0;
    margin:0;
}
.theory-i{
    font-size:0.875rem;
    font-weight:25rem;
    line-height:1.15rem;
    color:#838383;
    padding:0.3125rem;
    margin:0;
}
.card-img-top{
    max-width:17.19875rem;
    height:10.1875rem;
  }
.row-cols-md-4{
    padding-top:4.812rem;
    padding-left:8.737rem;
    padding-right: 6.824rem;
}
