@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.profileSection {
  margin: 0;
  padding: 0;
  margin-left: 11vw;
  margin-right: 12.13vw;
  margin-top: 6.5625rem;
  box-sizing: border-box;
}
.profileSection .headingText h2{
  color: #2078BF;
  font-weight: bolder;
  margin: 0;
  font-size: 2.25rem;
  line-height: 1rem;
}
.profileSection header{
  margin-bottom: 2.9375rem;
  height: 2.8125rem;
}
form{
  margin-left:1rem;
}


.formContainer {
  width: 100%;
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
  border-radius: 0.625rem;
  box-sizing: border-box;
}
.formContainer p {
  width: 12.553rem;
  height: 1.505rem;
  margin: 3.575vh 0vw;
  font-family: ubuntu;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: -0.063rem;
  display: inline-block;
  color: #838383;
}

#resetButton {
  margin-top: 3vh;
  float: right;
}

form label {
  color: #838383;
  font-size: 1.125rem;
  margin-bottom: 1.625rem;
  font-family: ubuntu;
  line-height: 1rem;
  letter-spacing: 0.025rem;

}
form .row {
  border: 1.5px solid #E0E0E0;
  border-radius: 0.313rem;
  padding: 0.1rem 0rem;
  margin-bottom: 1.5rem;
 
}
form .row i {
  color: #2078BF;
  float: right;
  padding: 0.5rem 0.5rem;
}
form button {
  width: 12.25rem;
  height: 3.125rem;
  display: block;
  margin: auto;
}
form button a {
  text-decoration: none;
  color: white;
}
form input {
  border: none;
  outline: none;
  font-size: 1.125rem;
  width: 100%;
  height: 2.3em;
}

#saveButton {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-family: ubuntu;
  margin-bottom: 2rem;
}

.resetpage {
  margin-top: 3.812rem;
  color: #2078BF;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
}
#resetBlock{
  display: none;
}

@media (max-width: 576px) {
  .profileSection{
    margin-top: 2.5rem;
  }
  .profileSection .headingText h2{
    font-size: 1.5rem;
  }
  .profileSection header {
    margin-bottom: 0;
  }
  .formContainer p {
    margin: 2vh 0vw;
    font-size: 1rem;
  }
  
  #resetButton {
    margin-top: 0.5vh;
    /* float: right; */
    width:75%;
    margin-right:12.5%;
  }
  form label {
 
    font-size: 1.rem;
    margin-bottom: 0.6rem;
    
  
  }
  form .row {

    margin-bottom: 0.9rem;
   
  }
  
}
@media (min-width: 577px) and (max-width: 768px){
  .profileSection{
    margin-top: 2.5rem;
  }
  .profileSection .headingText h2{
    font-size: 1.5rem;
  }
  .profileSection header {
    margin-bottom: 0;
  }
  .formContainer p {
    margin: 2vh 0vw;
    font-size: 1rem;
  }
  
  #resetButton {
    margin-top: 0.5vh;
    /* float: right; */
    width:9rem;
    
  }
  form label {
 
    font-size: 1.125rem;
    margin-bottom: 0.6rem;
    
  
  }
  form .row {

    margin-bottom: 0.9rem;
   
  }  
  .profile{
    margin-top:2rem;
  }
}
@media (min-width: 769px) and (max-width: 992px){
  .profileSection{
    margin-top: 2.5rem;
  }
  .profileSection .headingText h2{
    font-size: 1.5rem;
  }
  .profileSection header {
    margin-bottom: 0;
  }
  .formContainer p {
    margin: 2vh 0vw;
    font-size: 1rem;
  }
  
  #resetButton {
    margin-top: 0.5vh;
    /* float: right; */
    width:9rem;
    margin-right:12.5%;
  }
  form label {
 
    font-size: 1.125rem;
    margin-bottom: 0.6rem;
    
  
  }
  form .row {

    margin-bottom: 0.9rem;
   
  }  
  .profile{
    margin-top:rem;
  }

}
@media (min-width: 993px) and (max-width: 1200px){
  .profileSection{
    margin-top: 2.5rem;
  }
  .profileSection .headingText h2{
    font-size: 1.5rem;
  }
  .profileSection header {
    margin-bottom: 0;
  }
  .formContainer p {
    margin: 2vh 0vw;
    font-size: 1rem;
  }
  
  #resetButton {
    margin-top: 0.5vh;
    /* float: right; */
    width:9rem;
    margin-right:12.5%;
  }
  form label {
 
    font-size: 1.125rem;
    margin-bottom: 0.6rem;
    
  
  }
  form .row {

    margin-bottom: 0.9rem;
   
  }  
  .profile{
    margin-top:2rem;
  }

}
