.btn-wrapper button {
    background-color:green;
    border: 0px;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    box-shadow: #333 0px 1px 5px;
     position: fixed; 
  }
  .img-wrapper img {
    width: 100px;
    margin-top: -10px;
  }
  .cart-wrapper {
    height: 100px;
    width: 500px;
    border: 1px solid #ccc;
    margin-left: 10%;
  }
  .item {
    /* float: left;  */
     display: inline-block;
    width: 120px;
    padding: 20px;
    height: 70px;
  }
  .add-to-cart img {
    width: 80px;
    position: absolute;
    right: 1%;
    top: 1%;
    cursor:pointer;
  }
  .cart-count {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 1;
    background-color: blue;
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
  }
  .dropdown-menu {
    padding: 0rem;
    margin: 0rem;
    width: 40%;
  
  
  }
  .dropdown .dropdown-menu {
    padding: 10px;
    margin: 0;
  
    /* width: 75%; */
    /* float: left; */
    border: 1px solid #e0e0e0;
  }
  .dropdown .dropdown-item {
    font-weight: thin;
    margin: 0;
  }
  .dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    right: 8px;
    display: inline-block;
    margin-left: 20px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
  }
  .dropdown .dropdown-menu:after {
    position: auto;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: "";
  }
  
  .edit-dropdown {
    width: 30px;
    height: 30px;
  }
  
  .dropdown-item li {
    list-style-type: none;
    float: left;
    margin-top: 5px;
    /* font-size: 12px; */
    font-weight: 400;
    margin-left: 20px;
  } 
  
  .btn-success {
    margin: 10px;
      padding: 15px;
      width: 30%;
      font-size: 12px;
      margin-top: -2px;
      margin-left: 3rem;
      margin-right: -30px;
      position:fixed;
  }
  
  li.quantity {
    padding-left: 50px;
  }
  
  li#quantity {
    padding-left: 18px;
  }
  li.btn-primary {
    margin-left: 80px;
    margin-top: -30px;
    font-size: 12px;
    
  }
  .animalid {
    margin-bottom: -35px;
    font-size: 12px;
    font-weight: 400;
  }
  .subtotal {
    font-size: 12px;
  }
  .total {
    font-size: 12px;
  }
  .option {
    margin-bottom: -24px;
  }
  /* #dropdownMenuButton1{
    margin-left: 35rem;
    position: fixed;
  
  }
  #dropdownMenuLink{
    
       margin-left: 1rem;
       position:relative;
       top:15px;
       
   }
   .dropdown-menu.show{
    position:relative !important;
    top:15px !important;
    

   }
    */
  



