.card_Details{.modal-body>p{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #2078BF;
margin:8% 0%;
}
.modal-body>section{
    margin:11% 19%;
    padding-left: 6%;
}
button{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    width: 222px;
    height: 50px;
}
.modal-title{
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 24px;
text-align: center;
letter-spacing: 0.1px;
color: #2078BF;
margin-bottom: 3%;

}
.Successfully_Placed_box{
    width: 7.188rem;
    height: 7.188rem;
    border: 5px solid green;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 56px;
}
.Successfully_Placed_box > h3{
    font-size: 3.813rem;
    margin-top:0.813rem;
    color: green;
}
.Successfully_Placed{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 46px;
    color: #838383;
    margin-bottom: 63px;
}

.payment {
    padding-bottom: 20px;
    color: #838383;
    padding-left: 10%;
}
.succesfulPayment{
    height: 24rem;
}
/* card details */
.form-text{
    font-family: Ubuntu;
    font-size: 1.5rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    color: #838383 !important; 
    }
    .form-control:focus {
      border:4px solid  #4BAA94 !important;
      box-shadow: none !important;
    }
    .modal-dialog .button-large{
        width: 16.5rem;
    height: 5rem;
    }
    .modal-dialog .placeholder-img{
        width:1.8rem;
        height: 1.2rem;
        position:relative;
        // bottom:2.5rem;
        top:2rem;
        left:85%;}
    .lock-icon{
        position:relative;
        right: 0.5rem;
        width: 1rem;
        bottom: 0.2rem;
    }
.cardDetails{
        width: 48.5% !important; 
    height: 5.09%; 
     margin: auto !important; 
    padding: 1.5% !important; 
     padding-bottom: 1%;
}
}