.form{
    margin-left: 13.625rem;
    margin-top:5.687rem;
    width:56.062rem;
}
h2{
    font-weight:400;
    font-size:2.25rem;
    color:#838383;
    line-height:2.812rem;
    
}
.form p{
    font-size:0.875rem;
    color: #838383;
    line-height:2.812rem;
    font-weight:400;
}
label{
    font-weight:400rem;
    font-size:1.125rem;
    line-height:1rem;
    margin-bottom:1.595rem;
}
.form div{
    display:block;
}
.input-x{
    padding-top:1.246rem ;
    padding-right:0.886trem;
    padding-bottom: 1.01rem ;
    padding-left:1.59rem ;
    margin-bottom: 3.022rem;
}
.comment{
    height:14.5625rem;
    padding-top:1.246rem ;
    padding-right:0.886trem;
    padding-bottom: 1.01rem ;
    padding-left:1.59rem ;
    border-radius: 0.833rem;
    margin-bottom:3.375rem;
}
.sub-btn{
    padding-top:1.182rem;
    padding-bottom:1.182rem;
    padding-right:3.5rem;
    padding-left:3.5rem;
    font-weight:400;
    font-size:1.25rem;
    width:8rem;
}