.productSection {
    margin: 0;
    padding: 0;
    margin-left: 14vw;
    margin-right: 12vw;
    margin-top: 6%;
    box-sizing: border-box;
  }
  .productSection .headingText h2 {
    color: #2078BF;
    font-weight: bolder;
    margin: 0;
    font-size: 2.25rem;
    line-height: 1rem;
  }
  .productSection .header {
    margin-bottom: 2.9375rem;
    height: 2.8125rem;
  }
  .field{
    margin-top:5%;
  }
  .formContainer {
    width: 100%;
    margin: 0;
    padding: 0% 12%;
    background: #FFFFFF;
    box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
    border-radius: 0.625rem;
    box-sizing: border-box;
  }
  .formContainer p {
    /* width: 12.553rem; */
    height: 1.505rem;
    margin-top: 2.575rem;
    margin-bottom: 2rem;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: -0.063rem;
    display: inline-block;
    color: #838383;
  }
  
  form label {
    color: #838383;
    font-size: 1.125rem;
    margin-bottom: 1.625rem;
    font-family: ubuntu;
    line-height: 1rem;
    letter-spacing: 0.025rem;
  }
  form .row {
    border: 1.5px solid #E0E0E0;
    border-radius: 0.313rem;
    padding: 0.1rem 0rem;
    /* margin-bottom: 0.5rem; */
  }
  form button {
    width: 28%;
    height: 10%;
    font-size: 2.25rem;
    display: block;
    margin: 5% 1%;
  }
  form input {
    border: none;
    outline: none;
    font-size: 1.125rem;
    width: 100%;
    height: 2.3em;
  }
  
  @media (min-width: 0px) and (max-width: 440px) {
    .productSection {
      margin-top: 10%;
    }
    .productSection .headingText h2 {
      font-size: 1.5rem;
    }
    .productSection .header {
      margin-bottom: 6%;
    }
  
    .formContainer p {
      width: 85%;
      margin: 3% 0%;
    }
  
    .bt button {
      width: 70%;
      height: 15%;
    }
  }